* {
  font-family: 'Bellefair', serif;
}

.error {
  color: red;
}

h1,h2 {
  text-align: center;
}

table.bingocard {
  margin: auto;
  border-collapse: collapse;
}
table.bingocard td {
  width: 4cm;
  height: 4cm;
  padding: 0.5cm;
  border: solid 3px black;
  background-size: cover;
  vertical-align: bottom;
  text-align: center;
}
table.bingocard td img {
  height: 3cm;
}
